<!DOCTYPE html>
<html lang="en">
<head>
<title>Heart Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles.css"
<style>
body,h1,h5 {font-family: "Lato", sans-serif}
.w3-bar,h1 {font-family: "Montserrat", sans-serif}
</style>
</head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
  </div>

</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Heart Analysis</h1>
  <p class="w3-xlarge">Project 4</p>
  <p class="w3-xlarge">Ed, Raven, Ramsha, Yen, Jonathan</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Objective</h1>
      <h5 class="w3-padding-32">Use machine learning and various other libraries to analyze patient data, finding important trends and visualizations regarding health status</h5>

      <p class="w3-text-grey">Our group found an online dataset with over 400 samples with regards to the status of their health, specifically in regards to their heart. We looked into the initial CSV file, and had to clean this initial data in order to analyze properly. Using pandas, Catboost, Scikit-learn, and other dependencies, we were able to turn our simple CSV file into a complex machine model, predicting whether or not a patient was likely or not to have a heart attack. Important findings had to deal with gender, types of chest pain, and cholesterol levels in regards to our model predicting the likelihood of potential heart disease. Ed in particular did an excellent job manipulating our data and building multiple machine models that were trained and tested to produce valuable outputs.</p>
    </div>

    <div class="w3-third w3-center">
      <style>
  img { 
    width: 300px;
    margin-top: 200px; 
  }
</style>
      <img src="../images/heart.JPG">
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <img src="../images/prediction.JPG">
    </div>

    <div class="w3-twothird">
      <h1>Prediction</h1>
      <h5 class="w3-padding-32">Creating a Heart Disease Prediction web page based on our machine modeling</h5>

      <p class="w3-text-grey">Using Heroku to deploy our app to the web, our group used machine modeling and data analysis to create an input page where our model could determine whether or not someone is likely to have a heart disease, based on the health data entered. Using various categories from our original data including age, sex, chest pain, blood pressure, cholesterol, among others, a prediction would be found based upon results from our analysis of prior patients. Yen built the page and the application route necessary to obtain this prediction page, and this is not a clinically proven study. From a basic CSV file, we were able to transform a spreadsheet into an intelligent computer prediction of heart disease. Oh the power of data science!</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Congratulations on our educational journey! We did it!</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
    <p>Thank you Siavash and Tarique</p>
</footer>

</body>
</html>