<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Heart to Heart</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
   <h1>Project 4: Heart Data Analysis</h1>

      <link rel="stylesheet" href="Static/visual.css"></link>

  </head>
  <body>

    <div id="map"></div>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/logic.js"></script>

  </body>
</html>