<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script src="{{ url_for('static',filename='js/index.js')}}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

  <script>
    const button = document.querySelector('#button');
    const tooltip = document.querySelector('#tooltip');
    const popperInstance = Popper.createPopper(button, tooltip);
  </script>

<style>
  body,h1,h5 {font-family: "Lato", sans-serif}
  .w3-bar,h1 {font-family: "Montserrat", sans-serif}
  </style>
    <title>Heart Analysis</title>
  </head>

  <body>
    <!-- navigation code to other html pages that connects through the app.py-->
       <!-- Navbar -->

  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <nav class="navbar navbar-expand-lg navbar-light bg-red">
      <div id="wrapper">
    <!--a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a-->
    <a href="{{ url_for('home_page')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
   
        <!---a class="navbar-brand" href="#"></a-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item w3-bar-item w3-button w3-padding-small w3-red">
              <a class="nav-link" style="color:black"; href="{{ url_for('stats')}}">Statistical Analysis</a>
          </li>
          <li class="nav-item w3-bar-item w3-button w3-padding-small w3-red">
              <a class="nav-link" style="color:black"; href="{{ url_for('main_page')}}">Heart Disease Predictor</a>
          </li>

          </ul>
      </div>
 
 
  </nav>
</div>
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Heart Analysis</h1>
</header>

    <div class="container">
      <h1 class="text-black-fontsize-40px font-weight-bold">Heart Disease Predictor</h1>
      <p>
        This prediction only for a school project to fulfill the
        requirement of Demystifying Machine Learning. We are not medical professionals. This application we use Python Pandas, HTML/CSS/Bootstrap and Heroku for hosting the
        application. The dataset has over 1000 records from a combination of 5 heart disease independently available datasets 
        (Cleveland, Long Beach VA, Switzerland, Hungary, and Statlog). It does not intent to diagnose any Disease. Thank you for visiting our
        website.
      </p>
      <!--set the request method to POST -->

      <form method="POST">
        <div class="form-group row">
          <label for="age" class="col-4 col-form-label">Age</label>
          <div class="col-8">
            <input
              id="age"
              name="age"
              type="text"
              required="required"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4">Sex</label>
          <div class="col-8">
            <div class="custom-control custom-radio custom-control-inline">
              <input
                name="your_sex"
                id="your_sex_0"
                type="radio"
                required="required"
                class="custom-control-input"
                value="1"
              />
              <label for="your_sex_0" class="custom-control-label">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                name="your_sex"
                id="your_sex_1"
                type="radio"
                required="required"
                class="custom-control-input"
                value="0"
              />
              <label for="your_sex_1" class="custom-control-label"
                >Female</label
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="select" class="col-4 col-form-label">Chest pain</label>
          <div class="col-8">
            <select
              id="select"
              name="chest_pain"
              required="required"
              class="custom-select"
            >
              <option value="1">Typical angina</option>
              <option value="2">Atypical angina</option>
              <option value="3">Non-angina pain</option>
              <option value="4">Asymptomatic</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="resting_bp" class="col-4 col-form-label"
            >Resting blood pressure</label
          >
          <div class="col-8">
            <input
              id="resting_bp"
              name="resting_bp"
              type="text"
              class="form-control"
              required="required"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="cholesterol" class="col-4 col-form-label"
            >Cholesterol</label
          >
          <div class="col-8">
            <input
              id="cholesterol"
              name="cholesterol"
              type="text"
              class="form-control"
              required="required"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="fasting_blood_sugar" class="col-4 col-form-label"
            >Fasting blood sugar</label
          >
          <div class="col-8">
            <input
              id="fasting_blood_sugar"
              name="fasting_blood_sugar"
              type="text"
              class="form-control"
              required="required"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="max_heart_rate" class="col-4 col-form-label"
            >Max heart rate</label
          >
          <div class="col-8">
            <input
              id="max_heart_rate"
              name="max_heart_rate"
              type="text"
              class="form-control"
              required="required"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="resting_ecg" class="col-4 col-form-label"
            >Resting electrocardiogram results</label
          >
          <div class="col-8">
            <select
              id="resting_ecg"
              name="resting_ecg"
              class="custom-select"
              required="required"
            >
              <option value="0">Normal</option>
              <option value="1">Having ST-T wave abnormality</option>
              <option value="2">
                Showing probable or definite left ventricular hypertrophy by
                Estes' criteria
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4">Exercise induced angina</label>
          <div class="col-8">
            <div class="custom-control custom-radio custom-control-inline">
              <input
                name="exercise_angina"
                id="exercise_angina_0"
                type="radio"
                class="custom-control-input"
                value="1"
                required="required"
              />
              <label for="exercise_angina_0" class="custom-control-label"
                >Yes</label
              >
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input
                name="exercise_angina"
                id="exercise_angina_1"
                type="radio"
                class="custom-control-input"
                value="0"
                required="required"
              />
              <label for="exercise_angina_1" class="custom-control-label"
                >No</label
              >
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="oldpeak" class="col-4 col-form-label">Oldpeak</label>
          <div class="col-8">
            <input
              id="oldpeak"
              name="oldpeak"
              type="text"
              class="form-control"
              required="required"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="ST_slope" class="col-4 col-form-label"
            >The slope of the peak exercise ST segment</label
          >
          <div class="col-8">
            <select
              id="ST_slope"
              name="ST_slope"
              class="custom-select"
              required="required"
            >
              <option value="1">Upsloping</option>
              <option value="2">Flat</option>
              <option value="3">Downsloping</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-4 col-8">
            <button name="submit" type="submit" class="btn btn-primary">
              Predict Heart Disease
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          </nav>
    <div id="map"></div>

    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/logic.js"></script>
  </body>
</html>
