<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <script src="index.js"></script>
    <title>Heart Disease Analysis</title>
  </head>
  
  <body>
    <h1>Heart Disease Analysis</h1>
    <form>
      <input type="number" name="age" placeholder="Enter your age" />
      <input
        type="number"
        name="heart_rate"
        placeholder="Enter your heart rate"
      />
      <input
        type="number"
        name="chest_pain"
        placeholder="Enter your chest pain (1 - 5)"
      />
      <input
        type="number"
        name="resting_blood_pressure"
        placeholder="Enter your resting blood pressure (1 - 300)"
      />
      <button type="submit">Submit</button>
    </form>
    <h2>Results</h2>
    <div class="results">
      <p>Heart attack percent:</p>
    </div>
    <div class="images">
      <img src="./assets/Picture1.png" alt="Heart Rate Distribution" />
      <img src="./assets/Picture2.png" alt="Heart Rate Distribution 2" />
    </div>
  </body>
</html>
