<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

  <script>
    const button = document.querySelector('#button');
    const tooltip = document.querySelector('#tooltip');
    const popperInstance = Popper.createPopper(button, tooltip);
  </script>

<style>
  body,h1,h5 {font-family: "Lato", sans-serif}
  .w3-bar,h1 {font-family: "Montserrat", sans-serif}
  </style>
    <title>Heart Analysis</title>
    <script src="{{ url_for('static',filename='js/index.js')}}"></script>
    <!--title>Heart Disease Analysis</title-->
  </head>

  <body>
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <nav class="navbar navbar-expand-lg navbar-light bg-red">
        <div id="wrapper">
      <!--a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a-->
      <a href="{{ url_for('home_page')}}" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
     
          <!---a class="navbar-brand" href="#"></a-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item w3-bar-item w3-button w3-padding-small w3-red">
                <a class="nav-link" style="color:black"; href="{{ url_for('stats')}}">Statistical Analysis</a>
            </li>
            <li class="nav-item w3-bar-item w3-button w3-padding-small w3-red">
                <a class="nav-link" style="color:black"; href="{{ url_for('main_page')}}">Heart Disease Predictor</a>
            </li>

            </ul>
        </div>
      </div>
        
    </nav>
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Heart Analysis</h1>
    </header>
    </div>
    <div class="container">
      <h1>Heart Disease Predictor</h1>
      
      <h2>Results :</h2>
      <div class="results">
        {% if prediction == 1 %}
        <h3>You might want to see your doctor.</h1>
        {% else %}
        <h3>Look like you have a good heart.</h1>
        {% endif %}
      </div>
    </div>

  </body>
</html>
